.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.cards {
  width: 30%;
  height: 100%;
  background-image: url('./images/bg-main-desktop.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.front{
  position: relative;
  left: 10rem;
}

.back{
  position: relative;
  left: 15rem;
}

.forms {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  flex-direction: column;
  position: static;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 25em;
  gap: 10px;
  font-size: 13px;
  font-weight: bolder;
}

.labels {
  display: flex;
  gap: 1.4em;
}

.date_input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.MMYY {
  width: 32px;
}

input {
  padding: 10px;
  border-radius: 8px;
  font-family: 'Space Grotesk', sans-serif;
  opacity: 0.7;
}

.submit {
  background-color: #2b155e;
  color: white;
}
.info_front{
  position: fixed;
  
}



.cardholder_name{
  position: relative;
  bottom: 4.5em;
  left: 9.2em;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: lighter;
}



.cardholder_number{
  position: relative;
  bottom: 4em;
  left: 7em;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: white;
  font-size: 20px;
}
